@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Noto Sans Display", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

nav {
  background-color: #e50e0e;
  color: #ffffff;
  padding: 10px 20px;
  display: block;
  position: relative;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

p {
  font-size: 14px;
  color: #666666;
  margin: 10px 20px;
}

h1 {
  color: #333333;
  font-size: 50px;
  margin: 10px 20px;
  text-align: center;
}
h3 {
  color: #333333;
  font-size: 40px;
  margin: 10px 20px;
  text-align: center;
}
.imgEquipo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.imgRiver {
  width: 50px;
  height: auto;
  vertical-align: middle;
}
.imgBorja {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.spanRiver {
  font-size: 22px;
  font-weight: 500;
}
svg {
  height: auto;
  vertical-align: middle;
  margin: 0px 5px 0px 170px;
}
.burgerNav {
  width: 30px;
  height: auto;
  vertical-align: middle;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.SubNav .divSubNav .contentSubNav {
  overflow: hidden;
}
.SubNav .divSubNav .contentSubNav ul {
  margin: 0;
  padding: 0;
}
.SubNav .divSubNav .contentSubNav li {
  display: inline-block;
  margin-right: 20px;
}
.SubNav .divSubNav .contentSubNav li:last-child {
  margin-right: 0;
}
.liNav .subnavLink {
  color: #242f37;
  text-decoration: none;
}
.noticiasLinks {
  text-align: center;
  background-color: #ececec;
  padding-top: 10px;
  padding-bottom: 10px;
}
.noticiasLinks > a {
  color: #a84d41;
  text-decoration: none;
  font-weight: 500;
  margin-right: 19px;
}
article {
  padding: 20px;
  margin: 0 auto;
  max-width: 1400px;
}

article > ul > li > a {
  color: #94be1f;
}
h2 {
  color: #333333;
  margin-bottom: 10px;
  text-align: center;
  font-size: 40px;
  margin-left: 430px;
  margin-right: 430px;
}

article {
  color: #333333;
  font-size: 18px;
  line-height: 1.6;
}

footer {
  background-color: #242f37;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.footer-links a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  transition: background-color 0.3s, border-color 0.3s;
}

.footer-links a:hover {
  background-color: #ffffff;
  color: black;
}

.imgOle {
  width: 50px;
  height: 64px;
  vertical-align: middle;
}

@media only screen and (max-width: 1444px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
    margin-left: 0px;
    margin-right: 0px;
  }
  article {
    font-size: 18px;
  }
  .burgerNav {
    display: block;
  }
  .noticiasLinks {
    display: none;
  }
  .imgRiver {
    width: 40px;
  }
  h3 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 30px;
    margin-left: 0px;
    margin-right: 0px;
  }
  article {
    font-size: 16px;
  }
  .burgerNav {
    display: block;
  }
  .noticiasLinks {
    display: none;
  }
  .imgRiver {
    width: 35px;
  }
  h3 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 22px;
    margin-left: 5px;
    margin-right: 5px;
  }
  article {
    font-size: 14px;
  }
  .burgerNav {
    display: block;
  }
  .noticiasLinks {
    display: none;
  }
  .imgRiver {
    width: 27px;
  }
  h3 {
    font-size: 22px;
  }
}
