@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Noto Sans Display", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

nav {
  background-color: rgb(132, 204, 22);
  color: #ffffff;
  padding: 10px 20px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

p {
  font-size: 14px;
  color: #666666;
  margin: 10px 20px;
}

h1 {
  color: #333333;
  font-size: 50px;
  margin: 10px 20px;
  text-align: center;
}

.imgEquipo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.imgRiver {
  width: 60px;
  height: auto;
  vertical-align: middle;
}

svg {
  width: 60px;
  height: auto;
  vertical-align: middle;
  margin: 0 10px;
}	

article {
  padding: 20px;
  margin: 0 auto;
  max-width: 1400px;
}

h2 {
  color: #333333;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 30px;
  margin: 10px 20px;
}

article {
  color: #333333;
  font-size: 16px;
  line-height: 1.6;
}

footer {
  text-align: center;
  padding: 20px 0;
}

footer img {
  margin: 0 10px;
}
